.employee-cards {
    display: grid;
    margin-left: 40px;

    .employeeCard__container {
        border: 2px solid black;
        display: grid;
        box-shadow: rgb(60, 60, 255) 8px 10px ;
        background-color:  #6666ff;
        border-radius: 10px;
        height: auto;
        width: 80%;
        gap: 20px;
        margin: 20px;
        padding: 30px;
    
        .employeeCard__name, .employeeCard__role {
            background-color:  #6666ff;
        }
    
        .employeeCard__splitter {
            border: 3px solid #4d4dff;
            border-radius: 10px;
        }
    
        p {
            background-color:  #6666ff; 
        }
    
        .employeeCard__counter--Container {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 20% 1fr 20%;
            font-size: 18px;
            text-align: center;
            background-color:  #6666ff;
    
            .employeeCard__counter {
                background-color:  #6666ff;
            }
    
            .employeeCard__increase, .employeeCard__decrease {
                border: none;
                cursor: pointer;
                font-size: 30px;
                border-radius: 10px;
            }
    
            .employeeCard__increase {
                position: relative;
                right: 2em;
            }
    
            .employeeCard__decrease {
                position: relative;
                left: 2em;
            }
        }
    }
}
